<ng-container *ngFor="let profile of profileData">
<ng-container *ngIf="admin === true; else user">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/profile" href="#">TWÓJ PROFIL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/register-forms" href="#">WNIOSKI/UŻYTKOWNICY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/resources" href="#">LISTA ZASOBÓW</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/rent" href="#">REZERWUJ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" href="#">KONTAKT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="logout()" routerLink="/home">WYLOGUJ SIĘ</a>
    </li>
  </ul>
</ng-container>

<ng-template #user>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/profile" href="#">TWÓJ PROFIL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/logged/resources" href="#">LISTA ZASOBÓW</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" href="#">KONTAKT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="logout()" routerLink="/home">WYLOGUJ SIĘ</a>
    </li>
  </ul>
</ng-template>
</ng-container>
