
<h2>O NAS</h2>
<div class="container-fluid">
  <p>
    Projekt eCommunity jest systemem pozwalającym rezerwować udostępnione przez użytkowników zasoby celem ich wspólnego, efektywnego wykorzystania. Wspólne zasoby – to elementy infrastruktury, do korzystania z których wszyscy członkowie wspólnoty są uprawnieni na podstawie odpowiednich umów ( np. nabycie nieruchomości na osiedlu ) lub przedmioty ( np. elektronarzędzia ) zakupione, utrzymywane i współdzielone przez zainteresowanych członków wspólnoty.
    System zapewnia uprawnionym członkom wspólnoty możliwość rezerwacji na określony czas przedmiotu/zasobu, który jest w tym okresie dostępny oraz możliwość ustalenia terminu i sposobu przekazania (jeżeli dotyczy).
    Każdy z udostępnionych zasobów ma przypisanego moderatora – właściciela zasobu lub, w przypadku dóbr wspólnych, opiekuna zasobu. Rolą moderatora jest opieka nad danym zasobem oraz kontrola wykorzystania udostępnionego zasobu.
    Użytkownikiem systemu eCommunity może być członek wspólnoty lub osoba spoza wspólnoty. Po założeniu profilu w systemie, administrator systemu skontaktuje się z użytkownikiem w celu uzgodnienia szczegółów udziału w projekcie.
    W celu założenia profilu w systemie należy się zarejestrować klikając przycisk „Zarejestruj”. Lista wszystkich zasobów w systemie – kliknij „Zasoby”. W celu uzyskania dostępu do listy dostępnych zasobów i szczegółów kliknij „Zaloguj”.
  </p>
  <h4> ŻYCZYMY MIŁEGO UŻYTKOWANIA!</h4>
</div>
