@import '../../less/variables.less';
@import '../../less/mixins.less';
span {
  font-weight: bold;
}
.container-fluid {
  padding: 20px 0px;
  max-width: @page-max-width;
  margin: 0 auto;
}
.btn-primary.btn-lg {
  background-color: @pink;
  border-color: @pink;
}
.btn-primary.btn-lg:hover {
  background-color: @red;
  border-color: @red;
}
p{font-weight: normal}
button {
  padding-bottom: 3px;
  margin-left: 50px;
}
