@import '../../less/variables.less';
@import '../../less/mixins.less';

.search-input {
  margin-left: 15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .mat-row {
    flex-direction: column;
  }
  mat-header-row {
    display: none;
  }
}

.mat-column-opis {
  flex: 0 0 35%;
}

.mat-column-uwagi {
  flex: 0 0 15%;
}

.mat-column-archiwum {
  flex: 0 0 6%;
  text-align: center;
}

.add-button {
  margin-left: 15px;
}

button {
  width: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}


