
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
  <p></p>
<a href="https://www.facebook.com/Wypo%C5%BCyczalnia-ecommunity-1891966317531006/" class="fa fa-facebook"></a>
<a href="https://twitter.com/eCommunity6" class="fa fa-twitter"></a>
<a href="https://plus.google.com/104333848299432340823" class="fa fa-google"></a>
<a href="https://www.youtube.com/channel/UC214gx7uX8KD0DFMq4DoXCA?view_as=subscriber" class="fa fa-youtube"></a>
</div>

<h5>Wypożyczalnia eCommunity</h5>
<p>80-000 Gdańsk</p>
<p>ul. Gabriela Narutowicza 1</p>
<p>tel. 48 606 505 606</p>
<p>email: eCommunity11@gmail.com</p>

