<h2>REGULAMIN WYPOŻYCZALNI eCommunity</h2>

<div>
  <p class="paragraf">§1 DEFINICJE</p>
    <ol>
      <li>Wypożyczalnia eCommunity (zwana dalej „Wypożyczalnią” funkcjonuje w ramach inicjatywy mieszkańców wspólnoty lokatorskiej z siedzibą 00-111 Miasto, ul. Miejska 1 telefon kontaktowy <b>111-111-111</b> e-mail: <b>ecommunity@mail.pl</b></li>
      <li>Użytkownik – osoba fizyczna korzystająca z usług Wypożyczalni.</li>
      <li>Regulamin – niniejszy Regulamin określający zasady korzystania z usług Wypożyczalni.</li>
      <li>Usługa – wynajem przez Wypożyczalnię zasobu udostępnionego przez Użytkowników.</li>
      <li>Zasób – sprzęt, obiekt lub inne dobro wypożyczane przez Wypożyczalnię.</li>
    </ol>
  <p class="paragraf">§2 INFORMACJE OGÓLNE</p>
  <ol>
    <li>Regulamin określa zasady korzystania z Usług Wypożyczalni, w tym składania zamówień na Usługi oraz realizacji zamówień.</li>
    <li>Opisy Zasobów i Usług stanowią jedynie informację, a nie ofertę w rozumieniu kodeksu cywilnego. Charakter wiążący - na potrzeby zawarcia konkretnej umowy najmu zyskują one dopiero z chwilą zawarcia umowy najmu pomiędzy Wypożyczalnią a Użytkownikem.</li>
    <li>Wypożyczalnia dołoży wszelkich starań, aby towary prezentowane na stronach internetowych pokrywały się z bieżącymi stanami magazynowymi Wypożyczalni. W przypadku niedostępności całości lub części Zasobu, Wypożyczalnia niezwłocznie zawiadomi o tym Użytkownika.</li>
  </ol>
  <p class="paragraf">§3 ZAMÓWIENIA</p>
  <ol>
    <li>Użytkownik może składać zamówienia za pośrednictwem formularza dostępnego na stronie internetowej Wypożyczalni przez cały tydzień 24h/dobę, realizacja zamówień odbywa się od poniedziałku do piątku w godzinach od 8:00-16:00.</li>
    <li>Podczas dokonywania zamówienia Użytkownik jest zobowiązany do podania prawidłowych danych osobowych: imienia i nazwiska, dokładnego adresu zamieszkania, adresu email, telefonu kontaktowego.</li>
    <li>W przypadku założenia zamówienia za pośrednictwem formularza internetowego Wypożyczalnia wysyła Użytkownikowi informację o rezerwacji Zasobu.</li>
  </ol>
  <p class="paragraf">§4 DOSTAWA</p>
  <ol>
    <li>Zamówione Zasoby odbierane są osobiście  po wcześniejszym ustaleniu tej formy i miejsca odbioru.</li>
    <li>Zaleca się, aby Użytkownik ocenił Zasób i jego zgodności z zamówieniem w momencie odbioru. W przypadku stwierdzenia ubytku lub uszkodzenia zaleca się sporządzenie opisu uszkodzenia.</li>
    <li>W momencie przyjęcia Zasobu Użytkownik zobowiązany jest potwierdzić jego odbiór.</li>
    <li>Z chwilą odbioru Zasobu ryzyko uszkodzenia lub utraty Zasobu przechodzi na Użytkownika i trwa do momentu zwrotu Zasobu.</li>
  </ol>
  <p class="paragraf">§ 5 UŻYTKOWNICY</p>
  <ol>
    <li>Użytkownik ponosi odpowiedzialność za zmniejszenie wartości Zasobu będące wynikiem niewłaściwego korzystania z Zasobu tj., niezgodnego z instrukcja użytkowania.</li>
  </ol>
  <p class="paragraf">§6 POSTANOWIENIA KOŃCOWE</p>
  <ol>
    <li>Wypożyczalnia  informuje, że dane osobowe Użytkownika będą przetwarzane wyłącznie w celu wykonania umowy najmu, w szczególności skutecznego potwierdzenia otrzymania i przyjęcia zamówienia do realizacji. Użytkownik ma prawo do żądania uzupełnienia, uaktualnienia danych osobowych, czasowego lub stałego wstrzymania ich przetwarzania lub ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem prawa albo są już zbędne do realizacji celu, dla którego zostały zebrane, a także ma prawo wniesienia żądania zaprzestania przetwarzania jego danych osobowych.</li>
    <li>Niniejszy Regulamin jest dostępny pod adresem internetowym: <b>www.com.pl</b> oraz w wersji pisemnej w siedzibie Wypożyczalni.  Wypożyczalnia  zastrzega sobie prawo do zmiany niniejszego Regulaminu w każdym czasie. Zmiana Regulaminu staje się skuteczna w terminie wskazanym przez Wypożyczalnię, nie krótszym niż 7 dni od momentu udostępnienia na stronie Wypożyczalni zmienionego Regulaminu. Zamówienia złożone przez Użytkowników przed wejściem w życie zmian Regulaminu są realizowane według dotychczasowych postanowień Regulaminu.</li>
    <li>W sprawach nieuregulowanych w Regulaminie stosuje się przepisy prawa polskiego, a w szczególności Kodeksu Cywilnego oraz Ustawy o prawach konsumenta.</li>
    <li>W przypadku sprzeczności postanowień umowy najmu z postanowieniami Regulaminu zastosowanie mają postanowienia zawarte w umowie najmu.</li>
  </ol>

  <p>Postanowienia niniejszego Regulaminu obowiązują od dnia 01 stycznia 2018 roku.</p>

</div>