@import '../../less/variables.less';
@import '../../less/mixins.less';

.container-fluid {
  max-width: @page-max-width;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

p, ol {
  color: @font-black;
}

h2 {
  text-align: center;
  color: @font-black;
}

.paragraf {
  font-weight: bold;
  text-align: center;
}
