/* colors */
@red: #e54f4f;
@pink: #fb8181;
@white: #ffffff;
@font-black: #030303;
@border-black: #1d1c1b;
@form-background: @white;
/* page widths */
@page-max-width: 1200px;

@thickness_of_line: 2px;
@thickness_bottom: 4px;

@font-style:'Roboto', sans-serif;
@font-style-page: 'Open Sans', sans-serif;

/* page widths */
@page-max-width: 1200px;
