<mat-toolbar color="primary">
  Angular Material 2 datepicker example
</mat-toolbar>
<div class="basic-container">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Wybierz datę od">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="godz_od" placeholder="Wybierz godzinę od">
      <mat-option value="option0000">00:00</mat-option>
      <mat-option value="option0015">00:15</mat-option>
      <mat-option value="option0030">00:30</mat-option>
      <mat-option value="option0045">00:45</mat-option>
      <mat-option value="option0100">01:00</mat-option>
      <mat-option value="option0115">01:15</mat-option>
      <mat-option value="option0130">01:30</mat-option>
      <mat-option value="option0145">01:45</mat-option>
      <mat-option value="option0200">02:00</mat-option>
      <mat-option value="option0215">02:15</mat-option>
      <mat-option value="option0230">02:30</mat-option>
      <mat-option value="option0245">02:45</mat-option>
      <mat-option value="option0300">03:00</mat-option>
      <mat-option value="option0315">03:15</mat-option>
      <mat-option value="option0330">03:30</mat-option>
      <mat-option value="option0345">03:45</mat-option>
      <mat-option value="option0400">04:00</mat-option>
      <mat-option value="option0415">04:15</mat-option>
      <mat-option value="option0430">04:30</mat-option>
      <mat-option value="option0445">04:45</mat-option>
      <mat-option value="option0500">05:00</mat-option>
      <mat-option value="option0515">05:15</mat-option>
      <mat-option value="option0530">05:30</mat-option>
      <mat-option value="option0545">05:45</mat-option>
      <mat-option value="option0600">06:00</mat-option>
      <mat-option value="option0615">06:15</mat-option>
      <mat-option value="option0630">06:30</mat-option>
      <mat-option value="option0645">06:45</mat-option>
      <mat-option value="option0700">07:00</mat-option>
      <mat-option value="option0715">07:15</mat-option>
      <mat-option value="option0730">07:30</mat-option>
      <mat-option value="option0745">07:45</mat-option>
      <mat-option value="option0800">08:00</mat-option>
      <mat-option value="option0815">08:15</mat-option>
      <mat-option value="option0830">08:30</mat-option>
      <mat-option value="option0845">08:45</mat-option>
      <mat-option value="option0900">09:00</mat-option>
      <mat-option value="option0915">09:15</mat-option>
      <mat-option value="option0930">09:30</mat-option>
      <mat-option value="option0945">09:45</mat-option>
      <mat-option value="option1000">10:00</mat-option>
      <mat-option value="option1015">10:15</mat-option>
      <mat-option value="option1030">10:30</mat-option>
      <mat-option value="option1045">10:45</mat-option>
      <mat-option value="option1100">11:00</mat-option>
      <mat-option value="option1215">12:15</mat-option>
      <mat-option value="option1230">12:30</mat-option>
      <mat-option value="option1245">12:45</mat-option>
      <mat-option value="option1300">13:00</mat-option>
      <mat-option value="option1315">13:15</mat-option>
      <mat-option value="option1330">13:30</mat-option>
      <mat-option value="option1345">13:45</mat-option>
      <mat-option value="option1400">14:00</mat-option>
      <mat-option value="option1415">14:15</mat-option>
      <mat-option value="option1430">14:30</mat-option>
      <mat-option value="option1445">14:45</mat-option>
      <mat-option value="option1500">15:00</mat-option>
      <mat-option value="option1515">15:15</mat-option>
      <mat-option value="option1530">15:30</mat-option>
      <mat-option value="option1545">15:45</mat-option>
      <mat-option value="option1600">16:00</mat-option>
      <mat-option value="option1615">16:15</mat-option>
      <mat-option value="option1630">16:30</mat-option>
      <mat-option value="option1645">16:45</mat-option>
      <mat-option value="option1700">17:00</mat-option>
      <mat-option value="option1715">17:15</mat-option>
      <mat-option value="option1730">17:30</mat-option>
      <mat-option value="option1745">17:45</mat-option>
      <mat-option value="option1800">18:00</mat-option>
      <mat-option value="option1815">18:15</mat-option>
      <mat-option value="option1830">18:30</mat-option>
      <mat-option value="option1845">18:45</mat-option>
      <mat-option value="option1900">19:00</mat-option>
      <mat-option value="option1915">19:15</mat-option>
      <mat-option value="option1930">19:30</mat-option>
      <mat-option value="option1945">19:45</mat-option>
      <mat-option value="option2000">20:00</mat-option>
      <mat-option value="option2015">20:15</mat-option>
      <mat-option value="option2030">20:30</mat-option>
      <mat-option value="option2045">20:45</mat-option>
      <mat-option value="option2100">21:00</mat-option>
      <mat-option value="option2115">21:15</mat-option>
      <mat-option value="option2130">21:30</mat-option>
      <mat-option value="option2145">21:45</mat-option>
      <mat-option value="option2200">22:00</mat-option>
      <mat-option value="option2215">22:15</mat-option>
      <mat-option value="option2230">22:30</mat-option>
      <mat-option value="option2245">22:45</mat-option>
      <mat-option value="option2300">23:00</mat-option>
      <mat-option value="option2315">23:15</mat-option>
      <mat-option value="option2330">23:30</mat-option>
      <mat-option value="option2345">23:45</mat-option>
    </mat-select>
  </mat-form-field>
<strong>   -   </strong>
  <mat-form-field>
  <input matInput [matDatepicker]="picker1" placeholder="Wybierz datę do">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="godz_do" placeholder="Wybierz godzinę do">
      <mat-option value="option0000">00:00</mat-option>
      <mat-option value="option0015">00:15</mat-option>
      <mat-option value="option0030">00:30</mat-option>
      <mat-option value="option0045">00:45</mat-option>
      <mat-option value="option0100">01:00</mat-option>
      <mat-option value="option0115">01:15</mat-option>
      <mat-option value="option0130">01:30</mat-option>
      <mat-option value="option0145">01:45</mat-option>
      <mat-option value="option0200">02:00</mat-option>
      <mat-option value="option0215">02:15</mat-option>
      <mat-option value="option0230">02:30</mat-option>
      <mat-option value="option0245">02:45</mat-option>
      <mat-option value="option0300">03:00</mat-option>
      <mat-option value="option0315">03:15</mat-option>
      <mat-option value="option0330">03:30</mat-option>
      <mat-option value="option0345">03:45</mat-option>
      <mat-option value="option0400">04:00</mat-option>
      <mat-option value="option0415">04:15</mat-option>
      <mat-option value="option0430">04:30</mat-option>
      <mat-option value="option0445">04:45</mat-option>
      <mat-option value="option0500">05:00</mat-option>
      <mat-option value="option0515">05:15</mat-option>
      <mat-option value="option0530">05:30</mat-option>
      <mat-option value="option0545">05:45</mat-option>
      <mat-option value="option0600">06:00</mat-option>
      <mat-option value="option0615">06:15</mat-option>
      <mat-option value="option0630">06:30</mat-option>
      <mat-option value="option0645">06:45</mat-option>
      <mat-option value="option0700">07:00</mat-option>
      <mat-option value="option0715">07:15</mat-option>
      <mat-option value="option0730">07:30</mat-option>
      <mat-option value="option0745">07:45</mat-option>
      <mat-option value="option0800">08:00</mat-option>
      <mat-option value="option0815">08:15</mat-option>
      <mat-option value="option0830">08:30</mat-option>
      <mat-option value="option0845">08:45</mat-option>
      <mat-option value="option0900">09:00</mat-option>
      <mat-option value="option0915">09:15</mat-option>
      <mat-option value="option0930">09:30</mat-option>
      <mat-option value="option0945">09:45</mat-option>
      <mat-option value="option1000">10:00</mat-option>
      <mat-option value="option1015">10:15</mat-option>
      <mat-option value="option1030">10:30</mat-option>
      <mat-option value="option1045">10:45</mat-option>
      <mat-option value="option1100">11:00</mat-option>
      <mat-option value="option1215">12:15</mat-option>
      <mat-option value="option1230">12:30</mat-option>
      <mat-option value="option1245">12:45</mat-option>
      <mat-option value="option1300">13:00</mat-option>
      <mat-option value="option1315">13:15</mat-option>
      <mat-option value="option1330">13:30</mat-option>
      <mat-option value="option1345">13:45</mat-option>
      <mat-option value="option1400">14:00</mat-option>
      <mat-option value="option1415">14:15</mat-option>
      <mat-option value="option1430">14:30</mat-option>
      <mat-option value="option1445">14:45</mat-option>
      <mat-option value="option1500">15:00</mat-option>
      <mat-option value="option1515">15:15</mat-option>
      <mat-option value="option1530">15:30</mat-option>
      <mat-option value="option1545">15:45</mat-option>
      <mat-option value="option1600">16:00</mat-option>
      <mat-option value="option1615">16:15</mat-option>
      <mat-option value="option1630">16:30</mat-option>
      <mat-option value="option1645">16:45</mat-option>
      <mat-option value="option1700">17:00</mat-option>
      <mat-option value="option1715">17:15</mat-option>
      <mat-option value="option1730">17:30</mat-option>
      <mat-option value="option1745">17:45</mat-option>
      <mat-option value="option1800">18:00</mat-option>
      <mat-option value="option1815">18:15</mat-option>
      <mat-option value="option1830">18:30</mat-option>
      <mat-option value="option1845">18:45</mat-option>
      <mat-option value="option1900">19:00</mat-option>
      <mat-option value="option1915">19:15</mat-option>
      <mat-option value="option1930">19:30</mat-option>
      <mat-option value="option1945">19:45</mat-option>
      <mat-option value="option2000">20:00</mat-option>
      <mat-option value="option2015">20:15</mat-option>
      <mat-option value="option2030">20:30</mat-option>
      <mat-option value="option2045">20:45</mat-option>
      <mat-option value="option2100">21:00</mat-option>
      <mat-option value="option2115">21:15</mat-option>
      <mat-option value="option2130">21:30</mat-option>
      <mat-option value="option2145">21:45</mat-option>
      <mat-option value="option2200">22:00</mat-option>
      <mat-option value="option2215">22:15</mat-option>
      <mat-option value="option2230">22:30</mat-option>
      <mat-option value="option2245">22:45</mat-option>
      <mat-option value="option2300">23:00</mat-option>
      <mat-option value="option2315">23:15</mat-option>
      <mat-option value="option2330">23:30</mat-option>
      <mat-option value="option2345">23:45</mat-option>
    </mat-select>
  </mat-form-field>
<p></p>
  <div class="form-row">
    <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-spacing"  >Rezerwuję</button>
    <button type="button" (click)="onCancel()" class="btn btn-danger btn-spacing" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Rezygnuję</button>
  </div>
</div>
