<div *ngIf="numberOfPictures<1;then nopictures else picturespresent"></div>
<ng-template #nopictures>
    <p>Do zasobu nie dołączono zdjęć</p>
    <BR>
    <button class="btn btn-primary" (click)="goBack()">Wróć</button>
</ng-template>
<ng-template #picturespresent>
    <div class="col-md-10 offset-md-1">
        <ngx-image-viewer [src]="imagesUrl" [config]="{wheelZoom: true}"
                          (indexChange)="handleEvent($event)"></ngx-image-viewer>
        <p *ngIf="numberOfPictures>0">{{pictures[imageInd].opis}}</p>
        <BR>
        <button class="btn btn-primary" (click)="goBack()">Wróć</button>
    </div>
</ng-template>


